.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nextWeek {
  display: flex;
  justify-content: space-evenly;
  ;
}


table {
  margin: 0 auto;
}

th,
td {
  text-align: center;
  /* padding: 8px; */
}

.date-cell {
  vertical-align: bottom;
}

.header {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

@media (max-width: 600px) {
  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {

  th,
  td {
    font-size: 12px;
  }
}


.booking-system {
  border: 1px solid #ccc;
  padding: 20px;
}

.booking-table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ccc;
  padding: 0px;
  text-align: center;
}

.datetime-cell {
  vertical-align: middle;
  font-weight: bold;
}

.date-cell {
  vertical-align: bottom;
}

.timeslot-cell {
  width: 70px;
  /* Justera storleken efter dina önskemål */
  height: 50px;
  /* Justera storleken efter dina önskemål */
  border-bottom: none;
  border-top: none;
}

.weekday-date-cell {
  height: 50px;
  width: 40px;
  
}
.btn-success{
  background-color: #e6f2f0;
  color: #124517;
  height: 32px;
  width: 65px;
}

.body-of-table{
  background-color: #e6f2f0;
  border: 1px solid #ccc;
}
